In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from math import sqrt

In [2]:
df = pd.read_excel('combined_5features.xlsx')

In [3]:
df.columns

Index(['state_county', 'label', 'state_name', 'county_name',
       'Land_area (sq miles)', 'life_exp', 'income', 'inflow_exmpt_num',
       'housing_units', 'Population_total'],
      dtype='object')

In [4]:
data = df[['Land_area (sq miles)', 'life_exp', 'income', 'inflow_exmpt_num', 'housing_units', 'Population_total']]
data.shape

(3143, 6)

In [26]:
data[:10]

,Land_area (sq miles),life_exp,income,inflow_exmpt_num,housing_units,Population_total
0,594.44,75.32,24568.0,4293,22135,54571
1,1589.78,77.48,26469.0,9517,104061,182265
2,884.88,73.97,15875.0,997,11829,27457
3,622.58,73.55,19918.0,942,8981,22915
4,644.78,76.08,21070.0,2572,23887,57322
5,622.80,77.60,20289.0,403,4493,10914
6,776.83,73.39,16916.0,690,9964,20947
7,605.87,73.14,20574.0,4151,53289,118572
8,596.53,73.61,16626.0,1531,17004,34215
9,553.70,74.08,21322.0,920,16267,25989

In [27]:
X = data.loc[:, :'housing_units']
X.shape

(3143, 5)

In [28]:
# impute missing data with mean
for column in X.columns:
    X[column].fillna(X[column].mean(), inplace=True)

In [29]:
X.isna().sum()

Land_area (sq miles)    0
life_exp                0
income                  0
inflow_exmpt_num        0
housing_units           0
dtype: int64

In [30]:
y = data['Population_total']
y.shape

(3143,)

In [31]:
y.isna().sum()

0

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100)

In [33]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

In [34]:
lm.coef_

array([ 1.04301496e-01,  1.99250870e+03, -1.60951667e+00, -1.98016090e+00,
        2.75656215e+00])

In [35]:
lm.intercept_

-127718.97339365636

In [36]:
y_fit = lm.predict(X_train)

In [37]:
r2_train = r2_score(y_train, y_fit)
r2_train

0.9870932699760611

In [38]:
rmse_train = sqrt(mean_squared_error(y_train, y_fit))
rmse_train

36387.820539710796

In [39]:
mae_train = mean_absolute_error(y_train, y_fit)
mae_train

13702.72052792735

In [40]:
y_pred = lm.predict(X_test)

In [41]:
rmse_test = sqrt(mean_squared_error(y_test, y_pred))
rmse_test

37510.63790776021

In [42]:
mae_test = mean_absolute_error(y_test, y_pred)
mae_test

13315.541719012383

In [43]:
r2_test = r2_score(y_test, y_pred)
r2_test

0.9838050819126627

In [44]:
y_pred_all = lm.predict(X)

In [45]:
y[:10]

0     54571
1    182265
2     27457
3     22915
4     57322
5     10914
6     20947
7    118572
8     34215
9     25989
Name: Population_total, dtype: int64

In [46]:
y_pred_all[:10]

array([ 35391.84978855, 252229.54260817,  24841.26566805,   9727.99768122,
        50778.85005306,   5896.40600581,  17465.75498309, 123636.90249841,
        36092.94335773,  28644.9569284 ])

In [48]:
df['Population_pred'] = y_pred_all[:]
df[:10]

,state_county,label,state_name,county_name,Land_area (sq miles),life_exp,income,inflow_exmpt_num,housing_units,Population_total,Population_pred
0,1001,United States - Alabama - Autauga County,Alabama,Autauga County,594.44,75.32,24568.0,4293,22135,54571,35391.849789
1,1003,United States - Alabama - Baldwin County,Alabama,Baldwin County,1589.78,77.48,26469.0,9517,104061,182265,252229.542608
2,1005,United States - Alabama - Barbour County,Alabama,Barbour County,884.88,73.97,15875.0,997,11829,27457,24841.265668
3,1007,United States - Alabama - Bibb County,Alabama,Bibb County,622.58,73.55,19918.0,942,8981,22915,9727.997681
4,1009,United States - Alabama - Blount County,Alabama,Blount County,644.78,76.08,21070.0,2572,23887,57322,50778.850053
5,1011,United States - Alabama - Bullock County,Alabama,Bullock County,622.80,77.60,20289.0,403,4493,10914,5896.406006
6,1013,United States - Alabama - Butler County,Alabama,Butler County,776.83,73.39,16916.0,690,9964,20947,17465.754983
7,1015,United States - Alabama - Calhoun County,Alabama,Calhoun County,605.87,73.14,20574.0,4151,53289,118572,123636.902498
8,1017,United States - Alabama - Chambers County,Alabama,Chambers County,596.53,73.61,16626.0,1531,17004,34215,36092.943358
9,1019,United States - Alabama - Cherokee County,Alabama,Cherokee County,553.70,74.08,21322.0,920,16267,25989,28644.956928

In [49]:
df.to_csv('linear_regression_pred.csv', index=False)